{
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": true,
    "printWidth": 100,
    "extends": [
        "plugin:obsidianmd/recommended"
    ],
    "rules": {
        "obsidianmd/sample-names": "off",
        "obsidianmd/prefer-file-manager-trash": "error"
    }
}
